In [ ]:
# import both csv files
# add potential PFTs to kmc
# run confusion matrix

In [16]:
import pandas as pd
import geopandas

kmc_full = pd.read_csv('unsupervised/cross_lochs_kmc_alt.csv')
rf_test = pd.read_csv('supervised/cross_lochs_results_gdf.csv')
rf_train = pd.read_csv('supervised/cross_lochs_train_gdf.csv')

In [17]:
kmc_full.head(2)

,Unnamed: 0,Unnamed: 0.1,band1,band2,band3,band4,band5,band6,band7,band8,...,band355,band356,band357,band358,POINTID,geometry,GRID_CODE,PFT,line,Cluster
0,0,0,0.001099,0.003430,0.004752,0.006146,0.006639,0.009240,0.010558,0.011710,...,0.075150,0.074088,0.074698,0.072248,1,POINT (444724.307637 6472605.65507),0.001099,calluna_mix,1,2
1,1,1,0.003365,0.002541,0.004668,0.006236,0.006519,0.008654,0.010603,0.012083,...,0.072956,0.070970,0.067680,0.067113,2,POINT (444729.307637 6472605.65507),0.003365,calluna_mix,1,2

In [73]:
kmc = kmc_full[["geometry", "Cluster"]]

kmc

                                  geometry  Cluster
0      POINT (444724.307637 6472605.65507)        2
1      POINT (444729.307637 6472605.65507)        2
2      POINT (444734.307637 6472605.65507)        2
3      POINT (444739.307637 6472605.65507)        2
4      POINT (444744.307637 6472605.65507)        2
...                                    ...      ...
42016  POINT (445714.307637 6471575.65507)        0
42017  POINT (445719.307637 6471575.65507)        0
42018  POINT (445724.307637 6471575.65507)        0
42019  POINT (445729.307637 6471575.65507)        3
42020  POINT (445734.307637 6471575.65507)        3

[42021 rows x 2 columns]

In [22]:
# kmc["PFT_approx"] = ""

# for index, row in kmc.iterrows():
#     if kmc["Cluster"] == 0:
#         kmc.iloc[index, 4] = "other"
#     if kmc["Cluster"] == 1:
#         kmc.iloc[index, 4] = "water"
#     if kmc["Cluster"] == 2:
#         kmc.iloc[index, 4] = "rushes_sedges"
#     if kmc["Cluster"] == 3:
#         kmc.iloc[index, 4] = "shrub_sphagnum"
#     else:
#         kmc.iloc[index, 4] = "pool_bogbean"

# kmc

In [12]:
rf_test.head()

,Unnamed: 0,geometry,GRID_CODE,PFT,clf_pred
0,18182,POINT (445299.307637 6472160.65507),0.000966,shrub_sphagnum,shrub_sphagnum
1,2373,POINT (445424.307637 6472550.65507),0.001633,sphagnum_r,shrub_sphagnum
2,34418,POINT (445279.307637 6471760.65507),0.000707,shrub_sphagnum,shrub_sphagnum
3,19857,POINT (445554.307637 6472120.65507),0.000800,water,water
4,3715,POINT (445029.307637 6472515.65507),0.001764,shrub_sphagnum,shrub_sphagnum

In [38]:
rf_both = [rf_train, rf_test]
rf = pd.concat(rf_both)

In [43]:
import numpy as np

rf["cluster_approx"] = ""

# for index, row in kmc.iterrows():
#     if rf.iloc[index,3] == "water":
#         rf["cluster_approx"] = 1
#     else:
#         0

# rf

# for i in rf['PFT']:
#     if 'water' in i:
#         rf['cluster_approx'] = 1
#     if 'rushes_sedges' in i:
#         rf['cluster_approx'] = 2
#     if 'shrub_sphagnum' in i:
#         rf['cluster_approx'] = 3
#     if 'pool_bogbean' in i:
#         rf['cluster_approx'] = 4
#     else:
#         rf['cluster_approx'] = 0

rf['cluster_approx'] = pd.np.where(rf.PFT.str.contains("water"), 1,
                   pd.np.where(rf.PFT.str.contains("rushes"), 2,
                   pd.np.where(rf.PFT.str.contains("shrub"), 3, pd.np.where(rf.PFT.str.contains("pool"), 4, 0))))

rf

/tmp/ipykernel_515/3787141242.py:25: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  rf['cluster_approx'] = pd.np.where(rf.PFT.str.contains("water"), 1,
/tmp/ipykernel_515/3787141242.py:26: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.np.where(rf.PFT.str.contains("rushes"), 2,
/tmp/ipykernel_515/3787141242.py:27: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.np.where(rf.PFT.str.contains("shrub"), 3, pd.np.where(rf.PFT.str.contains("pool"), 4, 0))))

,Unnamed: 0,geometry,GRID_CODE,PFT,clf_pred,cluster_approx
0,14992,POINT (445589.307637 6472240.65507),0.000934,shrub_sphagnum,NaN,3
1,26593,POINT (444724.307637 6471950.65507),0.002531,shrub_sphagnum,NaN,3
2,11167,POINT (444734.307637 6472330.65507),0.002886,shrub_sphagnum,NaN,3
3,27401,POINT (445719.307637 6471935.65507),0.001448,rushes_sedges,NaN,2
4,447,POINT (444929.307637 6472595.65507),0.002176,shrub_sphagnum,NaN,3
...,...,...,...,...,...,...
12602,32201,POINT (445359.307637 6471815.65507),0.000588,shrub_sphagnum,shrub_sphagnum,3
12603,13848,POINT (444944.307637 6472265.65507),0.002376,shrub_sphagnum,shrub_sphagnum,3
12604,16302,POINT (445034.307637 6472205.65507),0.003783,shrub_sphagnum,shrub_sphagnum,3
12605,14308,POINT (445214.307637 6472255.65507),0.001367,shrub_sphagnum,shrub_sphagnum,3
12606,40089,POINT (445214.307637 6471620.65507),0.001196,shrub_sphagnum,shrub_sphagnum,3

In [47]:
rf["cluster_approx_pred"] = ""

rf['clf_pred'] = rf['clf_pred'].fillna("train")

rf['cluster_approx_pred'] = pd.np.where(rf.clf_pred.str.contains("water"), 1,
                   pd.np.where(rf.clf_pred.str.contains("rushes"), 2, pd.np.where(rf.clf_pred.str.contains("train"), 99,
                   pd.np.where(rf.clf_pred.str.contains("shrub"), 3, pd.np.where(rf.clf_pred.str.contains("pool"), 4, 0)))))

rf

/tmp/ipykernel_515/3351422819.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  rf['cluster_approx_pred'] = pd.np.where(rf.clf_pred.str.contains("water"), 1,
/tmp/ipykernel_515/3351422819.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.np.where(rf.clf_pred.str.contains("rushes"), 2, pd.np.where(rf.clf_pred.str.contains("train"), 99,
/tmp/ipykernel_515/3351422819.py:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  pd.np.where(rf.clf_pred.str.contains("shrub"), 3, pd.np.where(rf.clf_pred.str.contains("pool"), 4, 0)))))

,Unnamed: 0,geometry,GRID_CODE,PFT,clf_pred,cluster_approx,cluster_approx_pred
0,14992,POINT (445589.307637 6472240.65507),0.000934,shrub_sphagnum,train,3,99
1,26593,POINT (444724.307637 6471950.65507),0.002531,shrub_sphagnum,train,3,99
2,11167,POINT (444734.307637 6472330.65507),0.002886,shrub_sphagnum,train,3,99
3,27401,POINT (445719.307637 6471935.65507),0.001448,rushes_sedges,train,2,99
4,447,POINT (444929.307637 6472595.65507),0.002176,shrub_sphagnum,train,3,99
...,...,...,...,...,...,...,...
12602,32201,POINT (445359.307637 6471815.65507),0.000588,shrub_sphagnum,shrub_sphagnum,3,3
12603,13848,POINT (444944.307637 6472265.65507),0.002376,shrub_sphagnum,shrub_sphagnum,3,3
12604,16302,POINT (445034.307637 6472205.65507),0.003783,shrub_sphagnum,shrub_sphagnum,3,3
12605,14308,POINT (445214.307637 6472255.65507),0.001367,shrub_sphagnum,shrub_sphagnum,3,3
12606,40089,POINT (445214.307637 6471620.65507),0.001196,shrub_sphagnum,shrub_sphagnum,3,3

In [64]:
rf['cluster_rf'] = ""

rf['cluster_rf'] = pd.np.where(rf.cluster_approx_pred == 99, rf.cluster_approx, rf.cluster_approx_pred)

rf

/tmp/ipykernel_515/3032755628.py:8: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  rf['cluster_rf'] = pd.np.where(rf.cluster_approx_pred == 99, rf.cluster_approx, rf.cluster_approx_pred)

,Unnamed: 0,geometry,GRID_CODE,PFT,clf_pred,cluster_approx,cluster_approx_pred,cluster_rf
0,14992,POINT (445589.307637 6472240.65507),0.000934,shrub_sphagnum,train,3,99,3
1,26593,POINT (444724.307637 6471950.65507),0.002531,shrub_sphagnum,train,3,99,3
2,11167,POINT (444734.307637 6472330.65507),0.002886,shrub_sphagnum,train,3,99,3
3,27401,POINT (445719.307637 6471935.65507),0.001448,rushes_sedges,train,2,99,2
4,447,POINT (444929.307637 6472595.65507),0.002176,shrub_sphagnum,train,3,99,3
...,...,...,...,...,...,...,...,...
12602,32201,POINT (445359.307637 6471815.65507),0.000588,shrub_sphagnum,shrub_sphagnum,3,3,3
12603,13848,POINT (444944.307637 6472265.65507),0.002376,shrub_sphagnum,shrub_sphagnum,3,3,3
12604,16302,POINT (445034.307637 6472205.65507),0.003783,shrub_sphagnum,shrub_sphagnum,3,3,3
12605,14308,POINT (445214.307637 6472255.65507),0.001367,shrub_sphagnum,shrub_sphagnum,3,3,3
12606,40089,POINT (445214.307637 6471620.65507),0.001196,shrub_sphagnum,shrub_sphagnum,3,3,3

In [91]:
rf_kmc = pd.merge(rf, kmc)

rf_kmc

,Unnamed: 0,geometry,GRID_CODE,PFT,clf_pred,cluster_approx,cluster_approx_pred,cluster_rf,Cluster
0,14992,POINT (445589.307637 6472240.65507),0.000934,shrub_sphagnum,train,3,99,3,2
1,26593,POINT (444724.307637 6471950.65507),0.002531,shrub_sphagnum,train,3,99,3,3
2,11167,POINT (444734.307637 6472330.65507),0.002886,shrub_sphagnum,train,3,99,3,3
3,27401,POINT (445719.307637 6471935.65507),0.001448,rushes_sedges,train,2,99,2,2
4,447,POINT (444929.307637 6472595.65507),0.002176,shrub_sphagnum,train,3,99,3,3
...,...,...,...,...,...,...,...,...,...
42016,32201,POINT (445359.307637 6471815.65507),0.000588,shrub_sphagnum,shrub_sphagnum,3,3,3,3
42017,13848,POINT (444944.307637 6472265.65507),0.002376,shrub_sphagnum,shrub_sphagnum,3,3,3,3
42018,16302,POINT (445034.307637 6472205.65507),0.003783,shrub_sphagnum,shrub_sphagnum,3,3,3,3
42019,14308,POINT (445214.307637 6472255.65507),0.001367,shrub_sphagnum,shrub_sphagnum,3,3,3,0
42020,40089,POINT (445214.307637 6471620.65507),0.001196,shrub_sphagnum,shrub_sphagnum,3,3,3,3

In [92]:
y_cluster = rf_kmc["Cluster"]
y_rf = rf_kmc["cluster_rf"]

df_confusion = pd.crosstab(y_cluster, y_rf)

In [93]:
df_confusion

cluster_rf    0     1    2      3    4
Cluster
0            51   118  141   8098  462
1             6  4018   66    317  271
2           352    39  921   1742    0
3           190    17   97  22541  110
4             6   100   68   1709  581

In [100]:
from sklearn.metrics import accuracy_score

accuracy_score = accuracy_score(y_cluster, y_rf)

accuracy_score

0.6689988339163752

In [94]:
del rf_kmc["clf_pred"]
del rf_kmc["cluster_approx"]
del rf_kmc["cluster_approx_pred"]

rf_kmc

,Unnamed: 0,geometry,GRID_CODE,PFT,cluster_rf,Cluster
0,14992,POINT (445589.307637 6472240.65507),0.000934,shrub_sphagnum,3,2
1,26593,POINT (444724.307637 6471950.65507),0.002531,shrub_sphagnum,3,3
2,11167,POINT (444734.307637 6472330.65507),0.002886,shrub_sphagnum,3,3
3,27401,POINT (445719.307637 6471935.65507),0.001448,rushes_sedges,2,2
4,447,POINT (444929.307637 6472595.65507),0.002176,shrub_sphagnum,3,3
...,...,...,...,...,...,...
42016,32201,POINT (445359.307637 6471815.65507),0.000588,shrub_sphagnum,3,3
42017,13848,POINT (444944.307637 6472265.65507),0.002376,shrub_sphagnum,3,3
42018,16302,POINT (445034.307637 6472205.65507),0.003783,shrub_sphagnum,3,3
42019,14308,POINT (445214.307637 6472255.65507),0.001367,shrub_sphagnum,3,0
42020,40089,POINT (445214.307637 6471620.65507),0.001196,shrub_sphagnum,3,3

In [95]:
rf_kmc['geometry'] = geopandas.GeoSeries.from_wkt(rf_kmc['geometry'])

rf_kmc_gdf = geopandas.GeoDataFrame(rf_kmc, geometry='geometry')

rf_kmc_gdf.head(2)

,Unnamed: 0,geometry,GRID_CODE,PFT,cluster_rf,Cluster
0,14992,POINT (445589.308 6472240.655),0.000934,shrub_sphagnum,3,2
1,26593,POINT (444724.308 6471950.655),0.002531,shrub_sphagnum,3,3

In [96]:
# rf_kmc_gdf.to_file("cross_lochs_rf_kmc.shp")

In [97]:
# rf_kmc_gdf.to_csv("cross_lochs_rf_kmc.csv")

In [98]:
# df_confusion.to_csv("cross_lochs_confusion_matrix.csv")
# if re-save, change the name of the file as have added table headings into the csv